body {
    background-color: #177199;
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
    color: white;
    text-align: center;
}

div.header{
    display: inline-block;
    background-color: #177199;
    padding: 30px;
    border-color: #01579b;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    vertical-align: top;
}

div.dialog{
    display: inline-block;
    background-color: #fff;
    padding: 30px;
    border-color: #01579b;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    vertical-align: top;
    horiz-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .9);
    color: black;
}

div.game-window{
    display: inline-block;
    background-color: #cccccc;
    padding: 10px;
    border-color: #01579b;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    vertical-align: top;
    horiz-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .9);
    color: black;
}

input {
    border-width: 2px;
    border-color: #01579b;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin: 7px 1px;
    background-color: #fff;
}

input#level {
    color: black;
}

button {
    font-weight: bold;
    font-size: large;
    background-color: #cccccc;
    border-color: #01579b;
    border-radius: 5px;
    border-width: 3px;
    color: #1210ff;
    width: 140px;
    height: 40px;
    margin: 7px 5px;
    cursor: pointer;
}

button.disabled {
    color: #dadada;
    cursor: default;
}

button#face-button {
    background: #cccccc url('/static/img/smile.png');
    border-top-color: #eeeeee;
    border-left-color: #eeeeee;
    border-right-color: #cccccc;
    border-bottom-color: #cccccc;
    border-radius: 1px;
    color: #fff;
    width: 35px;
    height: 35px;
    margin: 2px 1px;
    cursor: pointer;
}

button#filter {
    font-weight: normal;
    font-family: 'Courier', serif;
    background-color: #cccccc;
    border-color: #01579b;
    border-radius: 5px;
    border-width: 1px;
    color: black;
    width: 95px;
    height: 22px;
    cursor: pointer;
}


.input-form {
    text-align: right;
}

.login-reg-form {
    text-align: center;
}

.login-reg-form input {
    text-align: left;
    width: 200px;
    height: 30px;
}

.footer {
    background-color: #eae6e1;
    color: black;
}

.stats {
    width: 160px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.stats input {
    border-width: 2px;
    border-color: #cccccc;
    border-radius: 1px;
    width: 35px;
    height: 30px;
    margin: 2px 1px;
    font-family: "Atari Classic Int";
    color: red;
    background-color: #dadada;
}

.game-field {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.game-field .row {
    height: 16px;
    display: flex;
}

.game-field .row .field {
    height: 16px;
    width: 16px;
    background: url('/static/img/closed-field.png');
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}

table {
    font-family: 'Courier', serif;
    border: 3px solid #01579b;
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}

td, th {
    padding: 5px 10px;
    border: 2px solid #01579b;
}

.results {
    font-family: 'Courier', serif;
    text-align: justify;
}

.results input {
    border-width: 1px;
    border-color: #01579b;
    width: 30px;
    height: 18px;
    background-color: #fff;
}

input#player_choice {
    width: 100px;
}