<footer>
    <div class="footer">
        <hr>
        <span>Created by <a href="https://github.com/tomaszleszczynski1980/">Tomasz Leszczyński</a></span>
        <span>at <a href="https://codecool.com">CodeCool</a> 2020</span>
    </div>
</footer>