{%  extends "layout.html" %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/game.js') }}" defer></script>
{% endblock %}

{% block content %}
<div class="game-window" data-alert="{{ alert }}">
    <div>
        <form id="stats" class="stats" action="{{ url_for('game') }}" method="GET">
            <input class="hidden" id="rows" name="rows" type="hidden" value="{{ rows }}">
        <input type="text" id="mines-left-counter" name="mines-left" disabled value="{{ mines }}">
            <input class="hidden" id="cols" name="cols" type="hidden" value="{{ cols }}">
        <button id="face-button" type="button" onClick="location.reload()" data-game="game"></button>
            <input class="hidden" id="mines" name="mines" type="hidden" value="{{ mines }}">
        <input type="text" id="time-counter" name="time" readonly value="0">
            <input class="hidden" disabled id="hidden-element-just-for-justify" type="hidden">
        </form>
    </div>
    <div class="game-field" data-cols="{{ cols }}" data-rows="{{ rows }}"
         style="width: {{ 16 * cols }}px; height: {{ 16 * rows }}px">
        {% for row_index in range(rows) %}
            <div class="row">
                {% for col_index in range(cols) %}
                    <div id="{{ row_index * cols + col_index }}" class="field"
                        data-content="{{ 'mine' if (row_index * cols + col_index) in mine_places else 'empty' }}"
                        data-row="{{ row_index }}" data-col="{{ col_index }}"
                        onClick="gameClick(this.id)"
                        oncontextmenu="putRemoveFlag(this.id);return false;">
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}