<header>
    <div class="header">
        <h1>Minesweeper</h1>
        <h3>Player: {{ player if player else 'Anonymus' }}</h3>
        <span>

            {% if rows or login or register or results_list %}
                <a href="{{ url_for('main') }}"><button id="main_btn">Main page</button></a>
            {% else %}
                <a href="{{ url_for('results') }}"><button id="res_btn"
                       {{ 'disabled class=disabled' if error }}>Best results</button></a>
            {% endif %}

        </span>
        <span>

            {% if login %}
                <a href="{{ url_for('register') }}"><button id="reg_btn"
                        {{ 'disabled class=disabled' if error }}>New user</button></a>
            {% else %}
                <a href="{{ url_for('login') }}"><button id="log_btn"
                        {{ 'disabled class=disabled' if error }}>Log {{ 'out' if player else 'in' }}</button></a>
            {% endif %}

        </span>
    </div>
</header>