<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Minesweeper web game</title>
        <link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/alerts.js') }}" defer></script>
        {% block scripts %} {% endblock %}
    </head>
    <body oncontextmenu="javascript: return false;">
        {% include "header.html" %}
        {% block content %} {% endblock %}
        {% include "footer.html" %}
    </body>
</html>