{% extends "layout.html" %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/login_pass_check.js') }}" defer></script>
{% endblock %}

{% block content %}
<div class="dialog" data-alert="{{ alert }}">
<form id="login-form" class="login-reg-form" action="{{ url_for('login') }}" method="POST">
    <label for="login">Name:</label>
    <input type="text" id="login" name="login" minlength="1" maxlength="20" value="{{ name }}"><br>
    <label for="password">Pass:</label>
    <input type="password" id="password" name="password" minlength="6" maxlength="20"><br>
    <button type="button" id="submit" onclick="checkLoginPass()">Log in</button>
</form>
</div>
{%  endblock %}