{% extends "layout.html" %}

{% set level = ((mines_n / (cols_n * rows_n)) * 100)|round %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/mines_limit.js') }}" defer></script>
{% endblock %}

{% block content %}
<div class="dialog" data-alert="{{ alert }}">
<form id="input-form" class="input-form" action="{{ url_for('game') }}" method="GET">
    <label for="cols">Columns:</label>
    <input type="number" id="cols" name="cols" value={{ cols_n }} min=8 max=30 onclick="mines_limit()"><br>
    <label for="rows">Rows:</label>
    <input type="number" id="rows" name="rows" value={{ rows_n }} min=8 max=24 onclick="mines_limit()"><br>
    <label for="mines">Mines:</label>
    <input type="number" id="mines" name="mines" value={{ mines_n }} min=10 max=712 onclick="mines_limit()"><br>
    <label for="mines">Level:</label>
    <input type="text" id="level" name="level" disabled value={{ level }}><br>
    <button type="submit">Play!</button>
</form>
</div>
{%  endblock %}