{% extends "layout.html" %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/login_pass_check.js') }}" defer></script>
{% endblock %}

{% block content %}
<div class="dialog" data-alert="{{ alert }}">
<form id="reg-form" class="login-reg-form" action="{{ url_for('register') }}" method="POST">
    <label for="login">Set player name:</label>
    <input type="text" id="login" name="login" minlength="1" maxlength="20"><br>
    <label for="password">Create password:</label>
    <input type="password" id="password" name="password" minlength="6" maxlength="20"><br>
    <label for="password_repeat">Repeat password:</label>
    <input type="password" id="password2" name="password2" minlength="6" maxlength="20"><br>
    <button type="button" id="submit" onclick="checkLoginPass()">Create player</button>
</form>
</div>
{%  endblock %}