{% extends "layout.html" %}

{% block scripts %}
    <script src="{{ url_for('static', filename = 'js/check_min_max.js') }}" defer></script>
{% endblock %}

{% block content %}
<div class="dialog" data-alert="{{ alert }}">

    <form class="results" action="{{ url_for('results') }}" method="GET">
        <label for="player_choice">Player:</label>
        <select id="player_choice" name="player_choice">
                <option value="">--All--</option>
            {% for name in names %}
                <option value="{{ name[0] }}">{{ name[0] }}</option>
            {% endfor %}
        </select>
        <button type="submit" id="filter">Filter</button><br>
        <label for="level_sort">Level min:</label>
        <input type="number" id="level_min" name="level_min" min=1 max=99 value={{ level_min if level_min else 1 }}>
        <label for="level_sort">Level max:</label>
        <input type="number" id="level_max" name="level_max" min=1 max=99 value={{ level_max if level_max else 99 }}>
    </form>
    <br>
    <table>
        <thead>
        {% for key in results_list[0] %}
            <th><a href="{{ url_for('results') }}?sort={{ key }}&order={{'desc'
                            if order == 'asc' else 'asc' }}&level_min={{ level_min }}&level_max={{ level_max }}">
                {{ key }}</a></th>
        {% endfor %}
        </thead>
        <tbody>
        {% for row in results_list %}
            <tr>
            {% for item in row.values() %}
                <td>{{ item }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{%  endblock %}